<p>testing-centers works!</p>
<div  *ngIf="retrive == false">
<input type="text" #titleInput class="form-control">
  
  <button type="button" (click) = "showText(titleInput.value)" class="btn btn-primary">Show Button value!</button>
</div>



<table>
    
    <thead *ngIf="retrive == true">
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of organization">
            <td>{{item.name}}</td>
        <td> {{item.phones[0].number}}</td>
        <td *ngIf = "item.physical_address[0]"> {{item.physical_address[0].address_1}}{{item.physical_address[0].city}}</td>
        </tr>
    </tbody>
</table>
<!-- 
<div *ngFor="let item of organization">
  
    {{item.name}}
    {{item.phones[0].number}}

</div> -->
<div *ngIf="retrive == true">
    <button type="button" (click) = "goBack()" class="btn btn-primary">Back!</button>
</div>