
<div  *ngIf="retrive == false">
<input type="text" #titleInput class="form-control">
  
  <button type="button" (click) = "showText(titleInput.value)" class="btn btn-primary">Show Button value!</button>
</div>



<table  frame=void rules=rows style="border:1px solid black;margin-left:auto;margin-right:auto">
    
    <thead style="padding: 10px;border:1px solid black;" *ngIf="retrive == true">
        <th>Name</th>
        <th>Mobile</th>
        <th>Address</th>
    </thead>
    <tbody style="border:1px solid black;">
        <tr style="padding: 15px;" *ngFor="let item of organization">
            <td>{{item.name}}</td>
        <td  style="padding: 15px;"> {{item.phones[0].number}}</td>
        <td  style="padding: 15px;" *ngIf = "item.physical_address[0]"> {{item.physical_address[0].address_1}} , {{item.physical_address[0].city}} , {{item.physical_address[0].postal_code}}, {{item.physical_address[0].state_province}}</td>
        </tr>
    </tbody>
</table>
<!-- 
<div *ngFor="let item of organization">
  
    {{item.name}}
    {{item.phones[0].number}}

</div> -->
